Repository esphome/esphome-docs, pull requests merged in 2020-05, with the labels that each got.

#563 dht: Add DHT22_TYPE2 model
  components/sensor/dht.rst
Labels: component: sensor.dht, wrong-base-branch

#571 Uart improvments
  components/uart.rst
Labels: component: uart

#500 Update docs to reflect ssd1327 support
  components/display/ssd1325.rst
Labels: stale

#547 added energy in pzem004 documentation
  components/sensor/pzem004t.rst
Labels: wrong-base-branch
