Repository esphome/esphome-docs, pull requests merged in 2025-10, with the labels that each got.

#5438 Fix leftover admonitions
  content/components/sensor/wts01.md
  content/components/zwave_proxy.md
Labels: next

#5395 Fix the table with examples in Wireguard component
  content/components/wireguard.md
  themes/esphome-theme/layouts/shortcodes/break.html
Labels: current

#5118 zephyr debug
  content/components/debug.md
Labels: wrong-base-branch, component: debug, has-parent, current

#5445 Update docs for max_connections move to esp32_ble component
  content/components/bluetooth_proxy.md
  content/components/esp32_ble.md
  content/components/esp32_ble_tracker.md
Labels: component: esp32_ble_tracker, component: ble_client, has-parent, next, component: esp32_ble, component: esp32_ble_server, component: bluetooth_proxy

#5320 Documentation for LM75B temperature sensor component
  content/components/_index.md
  content/components/sensor/lm75b.md
  static/images/lm75b.jpg
Labels: has-parent, next, component: lm75b

#5199 feat(modbus_controller): Add courtesy response configuration for Modbus Server
  content/components/modbus_controller.md
Labels: component: modbus, has-parent, next, component: modbus_controller
